/* You can add global styles to this file, and also import other style files */
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
app-root
{
    border: solid 2px black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    width: 300px;
}
h2
{
    display: block;
}